*,*::after,*::before{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
.container{
  width:80%;
  margin: 2rem auto;
  text-align: center;
}
.title{
  padding: 2rem;
}
.title h2{
  font-size: 2rem;
  color: hsl(220, 100%, 50%);
}
.underline{
  display: inline-block;
  background-color:hsl(190, 100%, 50%);
  padding: 0.1rem 2.5rem;
}
.review{
  width:30rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 15px hsl(0, 0%, 70%);
}
.img-container{
  width: 10rem;
  height: 10rem;
  margin: 1rem auto;
  position: relative;
  border-radius: 50%;
  background-color: blue;
}
.person-img{
  position: absolute;
  width: 9.7rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid blue;
  top: 0;
  right: 0.3rem;
}
.quote-icon{
position: absolute;
}
.author{
  color: blue;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 400;
}
.job{
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: hsl(0, 0%, 30%);
}
.info{
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}
.btn-container{
  width: 7rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.prev-btn, .next-btn{
background: none;
border: none;
font-size: 1.5rem;
cursor: pointer;
}
.prev-btn:hover, .next-btn:hover{
  background-color: hsl(0, 0%, 80%);
}
.random-btn{
  background-color: rgb(0, 0, 350);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
}
.random-btn:hover{
  opacity: 0.6;
}